<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Company Bio</h5>
      <p class="grey-text text-lighten-4">We are a team of college students working on this project for a Hackathon event. </p>
    </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">James, Luke, Zachary, and Lina</a>
  </div>
</div>
