<nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo center">Window Shoppr</a>
        <ul class="left hide-on-med-and-down">
            <li <% if (page_name == 'home') { %>class="active" <% } %> ><a href="/">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li <% if (page_name == 'home') { %>class="active" <% } %> ><a href="/">Home</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
