<nav class="grey darken-3" role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo center">Window Shoppr</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <% if (login != true) { %><li><a href="/login">Login</a></li> <% } %>
      <% if (login != true) { %><li><a href="/register">Register</a></li> <% } %>
      <% if (login == true) { %><li><a href="/logout">Logout</a></li> <% } %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Home</a></li>
      <% if (login != true) { %><li><a href="/login">Login</a></li> <% } %>
      <% if (login != true) { %><li><a href="/register">Register</a></li> <% } %>
      <% if (login == true) { %><li><a href="/logout">Logout</a></li> <% } %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse" ><i class="material-icons">menu</i></a>
  </div>
</nav>
