.container {
  width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}

#fake-tinder {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;

  .header {
    padding: 5px 10px;
    border-bottom: solid 1px #f2f2f2;
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    i {
      color: #CDCDCD;
      cursor: pointer;
    }
    .fa-cog {
      float: left;
    }
    .fa-comments {
      float: right;
    }
  }

  .cards {
    width: 100%;

    .card {
      width: 290px;
      overflow: hidden;
      display: flex;
      height: 350px;
      margin: 7px auto;
      border-radius: 7px;
      border: solid 1px lightgray;
      background: url(https://images.unsplash.com/photo-1433588641602-7c1083c4f0e2) center no-repeat;
      background-size: cover;

      &:not(.one) {
        display: none;
      }

      &.seven {
        background: #fff;
      }
    }

    .info {
      background: #fff;
      width: 100%;
      align-self: flex-end;
      padding: 15px;
      h2 {
        font-size: 20px;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 13px;
        color: gray;
      }
    }
  }

  .buttons {
    display: flex;
    width: 245px;
    margin: 12px auto;

    .button {
      display: flex;
      border: solid 9px #efefef;
      border-radius: 40px;
      width: 45px;
      height: 45px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      cursor: pointer;
      margin: 0;
      margin: 0 -5px;

      &.redo {
        color: #FECD64;
      }
      &.no {
        color: #FF6B6B;
        font-size: 28px;
        width: 60px;
        height: 60px;
      }
      &.yes {
        color: #4CCC93;
        font-size: 28px;
        width: 60px;
        height: 60px;
      }
      &.star {
        color: #2CB3C9;
      }
    }
  }

}
