<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Mapped Prototype</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <ul id="user-dropdown" class="dropdown-content">
        <li>
            <p class="center red-text">Admin</p>
        </li>
        <li class="divider"></li>
        <li><a class="center" href="/logout">Logout</a></li>
    </ul>
    <nav id="header" class="grey darken-3" role="navigation">
        <div class="nav-wrapper"><a id="logo-container" href="#" class="featureText">Mapped</a>
            <ul class="right hide-on-med-and-down valign-wrapper">
                <li class="active"><a href="#"><i class="material-icons">map</i></a></li>
                <li><a href="#"><i class="material-icons">assessment</i></a></li>
                <li>
                    <a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="user-dropdown"><img src="images/default.jpg" alt="" class="circle user-icon valign"></a>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <br>
                <li class="active"><a href="#">Heatmap View</a></li>
                <li><a href="#">Chart View</a></li><br>
                <li>
                    <p class="center red-text">Admin</p>
                </li>
                <li class="divider"></li>
                <li><a class="center" href="/logout">Logout</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons ">menu</i></a>
        </div>
    </nav>

    <div id="map-wrapper">
        <div>
            <div id="floating-panel" class="center">
                <button class="waves-effect waves-light btn blue lighten-1" onclick="toggleHeatmap()">Toggle</button>
                <button class="waves-effect waves-light btn blue lighten-1" onclick="changeGradient()">Gradient</button>
                <button class="waves-effect waves-light btn blue lighten-1" onclick="changeRadius()">Radius</button>
                <button class="waves-effect waves-light btn blue lighten-1" onclick="changeOpacity()">Opacity</button>
            </div>
            <div id="map"></div>
        </div>
    </div>

    <div id="timeline" class="grey darken-3">
        <div class="timeline-wrap">
            <div class="heading">Time <span id="timeIs">0:00</span></div>
            <div id="slider"></div>
        </div>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeoWJZl-mxuOcfuqAUWOPRfyw2AUgIQMc&libraries=visualization"></script>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Mapped Scripts-->
    <script type="text/javascript" src="./js/mapped.js"></script>
    <script type="text/javascript" src="./js/socket.io.js"></script>
    <script type="text/javascript" src="./js/slider.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>
