<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
        <header>
            <% include ../partials/nav %>
        </header>
        <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <div class="row center">
<h1>Window Shoppr</h1>
                </div>
                <div class="row center">
                    <h5 class="header col s12 light">Lina's Stuff goes here</h5>
                </div>
                <br><br>
            </div>
        </div>
    </main>
    <footer class="page-footer green">
        <% include ../partials/footer %>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    </script>

</body>

</html>
