<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
  <header>
       <% include ../partials/nav %>
   </header>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><img src="./images/kitty.png" class="responsive-img"></h1>
        <div class="row center">
			<a href="./shop"><button class="btn">Start Shopping!</button></a>
    </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./images/mall.jpg"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">info_outline</i></h2>
            <h5 class="center"></h5>
			<h5 class="center">Let's Shop!</h5>
            <p class="light">WindowShopr is the place where you can shop from the comfort of your home. However, it's not like any ordinary shopping website. With our product we are able to customize to your needs, WindowShopr will give you a personalized experience that shows what you love and continually evolve with your taste!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">perm_identity</i></h2>
            <h5 class="center">Technology!</h5>

            <p class="light">With the technology of an website application, code, and four nerds, anything is possible! Within a 24 hour period we bring you WindowShopper!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">thumbs_up_down</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">With this website, it is easy to use! All you would need to do is create an account and either submit photos or scroll through them. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="http://dqyfp485dhq1yoa92v2k6m13.wpengine.netdna-cdn.com/wp-content/uploads/2015/05/1.-Online-Purchases.gif" alt="Unsplashed background img 2"></div>
  </div>

  </main>
  <footer class="page-footer grey darken-3">
      <% include ../partials/footer %>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>

</script>

  </body>
</html>
