<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
  <header>
       <% include ../partials/nav %>
   </header>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><img src="./images/kitty.png" class="responsive-img"></h1>
        <div class="row center">
			<a href="./shop"><button class="btn">Start Shopping!</button></a>
    </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./images/mall.jpg"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">info_outline</i></h2>
            <h5 class="center">Bloop!</h5>

            <p class="light">With Soul Food, you can play any song you want and we will provide you a food to pair it up with!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">perm_identity</i></h2>
            <h5 class="center">With Technology, anything is possible!</h5>

            <p class="light">With the technology of an Amazon Echo, API, code, and four nerds, anything is possible! :3</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">thumbs_up_down</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">With the Amazon Echo, it is easy to use! All you would need to do is upload your song into the top upload button and you're on your way!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="http://dqyfp485dhq1yoa92v2k6m13.wpengine.netdna-cdn.com/wp-content/uploads/2015/05/1.-Online-Purchases.gif" alt="Unsplashed background img 2"></div>
  </div>

  </main>
  <footer class="page-footer grey darken-3">
      <% include ../partials/footer %>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>

</script>

  </body>
</html>
