<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Window Shoppr</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="../../css/jTinder.css">
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <main>
        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m12">
                        <!-- start padding container -->
                        <div class="wrap">
                          <center>
                            <h1></h1>
                          </center>
                            <!-- start jtinder container -->
                            <div id="tinderslide">
                                <ul>
                                    <% for(var i=1; i<data.length; i++) {%>
                                        <li class="pane<%= i %>">
                                            <% if (data[i].img==''){ data[i].img= "../../images/default.jpg"} %>
                                                <div class="img" style='background: url("<%= data[i].img %>") no-repeat scroll center center;background-size: cover;'></div>
                                                <div>
                                                    <%= data[i].name %>
                                                </div>
                                                <div class="like"></div>
                                                <div class="dislike"></div>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                            <!-- end jtinder container -->
                        </div>
                        <div class="wrap1">
                            <center>
                                <img class="responsive-img" style="width: 150px;" src="http://bestanimations.com/Animals/Mammals/Cats/cats/cute-kitty-animated-gif-25.gif" />
                                <h1>Welp! You're all out of products in the category (<%= data[0].query %>) to shop...</h1>
                                <a href="/shop"><button class="btn">Back to Shop</button></a>
                            </center>
                        </div>
                    </div>
                    <!-- end padding container -->
                    <!-- jTinder trigger by buttons  -->
                    <div class="actions">
                        <a href="#" class="dislike"><i></i></a>
                        <a href="#" class="like"><i></i></a>
                    </div>

                    <!-- jTinder status text  -->
                    <div id="status"></div>

                    <!-- jQuery lib -->
                    <script type="text/javascript" src="../../js/jquery.min.js"></script>
                    <!-- transform2d lib -->
                    <script type="text/javascript" src="../../js/jquery.transform2d.js"></script>
                    <!-- jTinder lib -->
                    <script type="text/javascript" src="../../js/jquery.jTinder.js"></script>
                    <!-- jTinder initialization script -->
                    <script type="text/javascript" src="../../js/main.js"></script>

                </div>
            </div>
        </div>

        </div>
        </div>
    </main>
    <footer class="page-footer grey darken-3">
        <% include ../partials/footer %>
    </footer>
    <!--  Scripts-->
    <script src="../../js/materialize.js"></script>
    <script src="../../js/init.js"></script>

    <script>
    </script>

</body>

</html>
